.about-description {
  font-size: 19px;
}
/* react text style */
.react-text {
  text-decoration: none;
  color: #121314;
  position: relative;
}
.react-text:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: rgba(61, 171, 255, 0.9);
}
.react-text:hover:after {
  top: 0%;
}
/*  */
/* js text style */
.javascript-text {
  text-decoration: none;
  color: #121314;
  position: relative;
}
.javascript-text:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: rgba(239, 159, 1, 0.76);
}
.javascript-text:hover:after {
  top: 0%;
}
/*  */
/* boostrap text style */
.bootstrap-text {
  text-decoration: none;
  color: #121314;
  position: relative;
}
.bootstrap-text:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 60%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: rgba(132, 0, 219, 0.79);
}
.bootstrap-text:hover:after {
  top: 0%;
}
/*  */
